/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .view-template {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Ajusta la separación entre las imágenes */
}

 .base-template {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Ajusta la separación entre las imágenes */
}

.template-image {
  width: 100%; /* Hace que la imagen se ajuste al ancho de su contenedor */
  max-width: 100%; /* Asegura que la imagen no se desborde */
  height: auto; /* Mantiene la proporción de la imagen */
}
